<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.terry.androidkotlin">

    <application
        android:name="com.terry.androidkotlin.app.VApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Common.Activity">
        <activity android:name="com.terry.androidkotlin.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.view.ViewMainActivity" />
        <activity android:name=".activity.view.QQContinueDaysTest" />
    </application>

</manifest>